{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/model/layout.html' as model_layout with context %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}

	<style>
        label, input[type='button'] {
            margin-top: 20px;
		}	
    </style>
{% endblock %}

{% block body %}
    <h2>DAGMaker</h2>
    {% block model_menu_bar %}
    {% endblock %}
    <div class="form-group row">
    	<div class="col-md-12">

    		  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewDAGModal">
    		  	Create a New DAG
    		  </button>

			  <!-- Modal -->
			  <div class="modal fade" id="createNewDAGModal" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Create a New DAG</h4>
			        </div>
			        <form action="create" method="GET">
				        <div class="modal-body">
<!-- 				        	<label>Project Name</label>
							<input name='project_name' type="text" class="form-control" placeholder="My Daily Run" required/> -->

							<label>Project Source Type:&nbsp;</label>
							<select id="project_source_type" name='project_source_type'>
								{% for project_source_type in project_source_types %}
									<option value="{{ project_source_type }}">{{ project_source_type }}</option>
								{% endfor %}
							</select>
							<br />

							<label>Project Source</label>
							<input type="text" name="project_source" class="form-control" placeholder="Enter a git repository or directory in DS Shared that contains DAGMaker.yml file" required/>

							<div id="git_inputs" style="display: none">
								<label>Git Username</label>
								<input type="text" name="git_username" class="form-control" placeholder="Git username" />

								<label>Git Password</label>
								<input type="password" name="git_password" class="form-control" placeholder="Git password" />
							</div>
				        </div>
				        <div class="modal-footer">
				          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<input type='submit' class="btn btn-primary" value='Confirm' />
				        </div>
			    	</form>
			      </div>
			      
			    </div>
			  </div>

			<br /><br />
    		<h4>DAGs Created using DAGMaker</h4>
    		<table class="table">
			  <thead>
			    <tr>
					<th scope="col">Project Name</th>
					<th scope="col">Owner</th>
					<th scope="col">Schedule</th>
					<th scope="col">Source Type</th>
					<th scope="col">Source</th>
					<th scope="col">Actions</th>
			    </tr>
			  </thead>
			  <tbody>
			  	   
				{% for project in dagmaker_projects %}
        			<tr>
				      <th scope="row"><a href="/admin/airflow/tree?dag_id={{ project.name }}">{{ project.name }}</a></th>
				      <td>{{ project.owner }}</td>
				      <td>{{ project.schedule }}</td>
				      <td>{{ project.source_type }}</td>
				      <td>{{ project.source }}</td>
				      <td>
				      	<a data-toggle='modal' data-target="#confirmUpdateModal{{ project.name }}" onclick="return false;">Update</a>&nbsp;&nbsp;&nbsp;
				      	<a data-toggle='modal' data-target="#confirmDeleteModal{{ project.name }}" onclick="return false;" style="color: red">Delete</a>
				      </td>

				      <!-- Update DAG Confirmation Modal -->
					  <div class="modal fade" id="confirmUpdateModal{{ project.name }}" role="dialog">
					    <div class="modal-dialog">
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Confirm Update of {{ project.name }}</h4>
					        </div>
					        	<form action='update' method='GET'>
							        <div class="modal-body">
							        	<p>Updating {{ project.name }} will pull the updates from <a href="{{ project.source }}">{{ project.source }}</a>

							        	<br /><br />
							        	Make sure that there is no ongoing run of this DAG.</p>

							        	{% if project.source_type == 'Git Repository' %}
							        		<label>Git Username</label>
							        		<input type="text" name="git_username" class="form-control" placeholder="Git username" />
							        		<label>Git Password</label>
							        		<input type="password" name="git_password" class="form-control" placeholder="Git password" />
							        	{% endif %}
							        	<input type='text' name='project_source' value="{{ project.source }}" hidden />
							        	<input type='text' name="project_source_type" value="{{ project.source_type }}" hidden />
							        </div>
							        <div class="modal-footer">
							          	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										<input type='submit' type="button" class="btn btn-primary" value="Confirm" />
							        </div>
					    		</form>
					      </div>
					    </div>
					  </div>

						<!-- Delete DAG Confirmation Modal -->
					  <div class="modal fade" id="confirmDeleteModal{{ project.name }}" role="dialog">
					    <div class="modal-dialog">
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title" style="color: red">Confirm Delete of {{ project.name }}</h4>
					        </div>
					        <div class="modal-body">
								<p>Deleting {{ project.name }} will delete its DAGFile, and delete its project directory in this airflow installation ({{ project.project_dir }})</p>
								<!-- <label>Enter project name to confirm</label>
								<input type="text" id="confirm_delete_input" class="form-control" placeholder="{{ project.name }}" /> -->
					        </div>
					        <div class="modal-footer">
					          	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<a href="delete?project_name={{ project.name }}" class="btn btn-primary" disable>Confirm</a>
					        </div>
					      </div>
					    </div>
					  </div>

					</tr>
    			{% endfor %}
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ admin_static.url(filename='admin/js/filters.js') }}"></script>
    <script>
		var project_source_type_select = document.getElementById("project_source_type");
    	var git_inputs = document.getElementById("git_inputs");

		project_source_type_select.onchange = function(){
		    if (project_source_type_select.value == "Git Repository") 
		        git_inputs.style.display = "inline";
		    else 
		        git_inputs.style.display = "none";
		}
    </script>
    {{ lib.form_js() }}
{% endblock %}
